.footer {
  padding: 80px 8% 40px;
  background: radial-gradient(circle at top, #090017, #0f0144);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
}

.footer-brand {
  max-width: 300px;
}

.footer-logo {
  font-size: 30px;
  color: #00ffae;
  margin-bottom: 10px;
}

.footer-brand p {
  color: #aaa;
  font-size: 18px;
  margin-bottom: 20px;
}

.socials span {
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
  opacity: 0.7;
}

.socials span:hover {
  opacity: 1;
  color: #00ffae;
}

.footer-links {
  display: flex;
  gap: 80px;
}

.footer-links h4 {
  color: white;
  margin-bottom: 15px;
}

.footer-links p {
  color: #aaa;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-links p:hover {
  color: #00ffae;
}

.footer-bottom {
  margin-top: 60px;
  padding-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.05);
  display: flex;
  justify-content: space-between;
  color: #777;
  font-size: 14px;
}
